    
.whole{
    background-color: white;
    width: 800px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    border-radius: 20px;
    border-style: solid;
    margin-left: 120px;

}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titles{
    text-align: center;
}
.images > img{
    width: 300px;
    height: 300px;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.block{
    height: 60px;
}
 
.box{
    margin: -50px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detect_box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.detect{
    background-color: white;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    border-style: solid;
    margin-left: 120px;

}
.form_box{
    display: flex;
    align-items: center;
    justify-content: center;
}